body {
  background-color: #FA8072;
  font-family: cursive, sans-serif;
  text-align: center;
  margin: 0;
}

header {
  color: white;

}

div {
  background-color: white;
  width:100%;
}
ul {
  display: inline-block;
  background-color: #ebf0f1;
  width: 20%;
  padding-top: 25px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
}
h2 {
  font-size: 1em;
}
h3 {
    font-size: 14px;
}

li {
  font-size: 12px;
  margin: 4px;
}

.liFoncer {
  background-color: #d2d2d2;
  padding-top: 5px;
  padding-bottom: 5px;
}

img {
  width: 15px;
}

footer {
  padding-top: 20px;
  padding-bottom: 50px;
}
