body {
  background-color: #FA8072;
  font-family: cursive, sans-serif;
  text-align: center;
  margin: 0;
}

header {
  color: white;

}

div {
  background-color: white;
  width:100%;
}
ul {
  display: inline-block;
  background-color: #ebf0f1;
  width: 15%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10px;
  padding-bottom: 5%;
  margin-left: 5%;
  border-radius: 10px;
}

h3 {
    font-size: 14px;
}

li {
  font-size: 12px;
}

.liFoncer {
  background-color: #d2d2d2;
}
